.container {
  width: 100%;

  background: white;
  padding: 10px 10px;
  @include flex-arrange(space-between, flex-start);
  .mainWrapper {
    display: flex;
    width: 80%;

    .profileImage {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .contentWrapper {
      margin-left: 10px;
      @include font-style(1.2rem, black, 400);

      .userInfo {
        display: block;
        margin-bottom: 5px;

        span:nth-child(1) {
          @include font-style(1.2rem, black, 600);
        }

        span:nth-child(2) {
          @include font-style(1rem, gray, 400);
          margin-left: 5px;
        }
        .deleteIcon {
          margin-left: 5px;
        }
      }
      .replyButton {
        display: block;
        margin-top: 8px;
        @include font-style(1rem, gray, 400);
      }
    }
  }
}

// .outerContainer {
//   max-height: 400px; /* 필요에 따라 최대 높이를 설정하세요 */
//   overflow-y: auto; /* 스크롤 가능하게 설정 */
// }