.container {
  width: 100%;
  background: white;
  padding: 10px 10px;
  @include flex-arrange(space-between, center);
  .mainWrapper {
    display: flex;
    width: 80%;

    .profileImage {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .contentWrapper {
      margin-left: 10px;
      @include font-style(1.2rem, black, 400);

      .userInfo {
        display: block;
        margin-bottom: 5px;

        span:nth-child(1) {
          @include font-style(1.2rem, black, 600);
        }

        span:nth-child(2) {
          @include font-style(1rem, gray, 400);
          margin-left: 5px;
        }
      }
    }
  }
}

// .userInfo {
//   @include flex-arrange(flex-start, center);
//   gap: 10px;

// }
