.container {
  width: 100%;
  padding: 10px 10px;
  background: white;
  @include flex-arrange(center, center);
  gap: 10px;
  top: 0;
  background: rgb(247, 244, 244);

  .glass {
    position: absolute;
    top: 13px;
    right: 10px;
  }
}
