.container {
  width: 100%;
  position: fixed;
  padding: 20px 10px;
  background: beige;
  @include flex-arrange(center, center);
  gap: 10px;
  .glass {
    position: absolute;
    top: 13px;
    right: 10px;
  }
}
