.container {
  width: 100%;
  max-width: 165px;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.outerContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 3px;
  justify-content: start;
}
