* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

/* ////폰트 적용 코드///  👇 */

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

div,
span,
h1,
h2,
h3,
p,
pre,
button {
  /* 여기에 적용 */

  font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

button,
div,
a {
  outline: none; /* 기본 아웃라인 효과 제거 */
  box-shadow: none; /* 그림자 효과 제거 */
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* 모바일 브라우저에서 클릭 시 강조 색상 제거 */
}
