.outerContainer {
  @include flex-arrange(space-around, center);
  gap: 10px;

  margin-bottom: 20px;
}

.category {
  @include font-style(1rem, black, 500);
  @include flex-arrange(center, center);
  text-align: center;
  border-radius: 20px;
  padding: 3px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background: white;

  width: 100%;
  max-width: 100px;
  height: 30px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.select {
  background-color: rgb(158, 224, 227);
  color: white;
}
