.container {
  @include flex-arrange(flex-start, center);
  width: 100%;
  background-color: white;
  padding: 5px 5px;
  margin-bottom: 5px;
  gap: 10px;
  border-radius: 5px;
  border-bottom: 1.5px solid rgb(240, 240, 240); /* 아래 테두리 추가 */

  .textWrapper {
    display: flex;
    flex-direction: column;
    text-decoration-line: none;
    width: 100%;
    .nameWrapper {
      @include flex-arrange(flex-start, center);
      gap: 5px;
      width: 100%;
      .name {
        @include font-style(1.6rem, black, 600);
        margin-bottom: 3px;
      }
    }
    .address {
      @include font-style(1.1rem, grey, 400);
    }
  }

  img {
    border-radius: 5px;
  }

  .actionBtn {
    margin-left: auto;
    @include flex-arrange(flex-start, center);
    gap: 20px;
  }
}
