.container {
  @include flex-arrange(flex-start, center);
  flex-direction: column;
  gap: 10px;

  height: 100vh;
  background: beige;
  padding: 80px 10px 10px 10px;
  
  .signUpForm {
    width: 100%;
    @include flex-arrange(center, center);
    flex-direction: column;
    gap: 10px;  
  }
}
