.container {
  @include flex-arrange(center, center);
  margin-top: 150px;
  flex-direction: column;
  span:nth-child(1) {
    @include font-style(2rem, black, 600);
    margin-bottom: 10px;
  }
  span:nth-child(2) {
    @include font-style(1.4rem, black, 400);
    margin-bottom: 10px;
  }
}
