// /PostDetailForm
.container {
  @include flex-arrange(space-between, center);
  flex-direction: column;
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 4px;
  gap: 10px;
  margin-top: 60px;
  margin-bottom: 100px;

  .userWrapper {
    width: 100%;
    @include flex-arrange(space-between, center);
    .userInfo {
      @include flex-arrange(center, flex-start);
      gap: 5px;
      .dateWrapper {
        @include flex-arrange(center, flex-start);
        flex-direction: column;
        span:nth-child(1) {
          @include font-style(1.4rem, black, 600);
        }
        span:nth-child(2) {
          @include font-style(1rem, gray, 400);
        }
      }
    }
    img {
      border-radius: 50%;
    }
  }

  .btnStyle {
    margin-left: auto;
    @include flex-arrange(center, flex-end);
    gap: 25px;
  }

  .contentWrapper {
    width: 100%;
    height: 40px;
    @include flex-arrange(space-between, center);
    @include font-style(1.2rem, black, 400);
    margin-top: 15px;

    .iconWrapper {
      display: flex;
      gap: 5px;
    }

    .clearday {
      @include flex-arrange(center, center);
      flex-direction: column;
      gap: 3px;
      padding-left: 10px;
      span:nth-child(1) {
        @include font-style(1.4rem, black, 400);
      }
    }

    .difficultyWrapper {
      display: inline-flex;
      align-items: center;
      gap: 8px;

      .color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow:
          0 4px 6px rgba(0, 0, 0, 0.1),
          0 10px 20px rgba(0, 0, 0, 0.1);
      }

      .color-red {
        background-color: red;
      }

      .color-orange {
        background-color: orange;
      }

      .color-yellow {
        background-color: yellow;
      }

      .color-green {
        background-color: green;
      }

      .color-blue {
        background-color: blue;
      }

      .color-indigo {
        background-color: indigo;
      }

      .color-purple {
        background-color: purple;
      }

      .color-white {
        background-color: white;
        border: 1px solid black;
      }

      .color-gray {
        background-color: gray;
      }

      .color-black {
        background-color: black;
      }

      .color-pink {
        background-color: pink;
      }
      .color-brown {
        background-color: brown;
      }
    }
  }

  .videoWrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    .videoBox {
      position: relative;
      width: 100%;
      max-width: 900px;
      padding-top: calc((4 / 3) * 100%);
      overflow: hidden;

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
  p {
    width: 100%;
    height: auto;
    @include font-style(1.3rem, black, 500);
  }
}

//DetailMainContentList
.listContainer {
  margin-bottom: 100px;
}
